@import url(../components/footer.css);
@import url(../components/header.css);

main {
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  line-height: 1.5em;
  font-size: 1.3em;
  margin-bottom: auto;

  text-align: justify;
}
