@import url(./reset.css);
@import url(./breakpoints.css);
@import url(./print.css) print;

@font-face {
  font-family: "Dongle";
  src: url("./../fonts/Dongle-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "DongleBold";
  src: url("./../fonts/Dongle-Bold.ttf") format("opentype");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: antiquewhite;
  min-height: 100vh;
  font-family: Neonderthaw, sans-serif;
}

main h2 {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;

  column-span: all;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((80vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
