@import url(./reset.css);
@import url(./breakpoints.css);
@import url(./print.css) print;

@font-face {
  font-family: "Dongle";
  src: url("./../fonts/Dongle-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "DongleBold";
  src: url("./../fonts/Dongle-Bold.ttf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: antiquewhite;
  min-height: 100vh;
  font-family: Neonderthaw, sans-serif;
}

main h2 {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;

  column-span: all;
}
