@import url(./reset.css);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #34547A;
  --primary-back-color: #EEEFF1;
  --secondary-back-color: #EEEFF1;

  --primary-font-family: Roboto;
  font-family: var(--primary-font-family);
  font-size: 16px;
}
