@import url(./reset.css);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #34547a;
  --primary-back-color: #eeeff1;
  --secondary-back-color: #ffffff;

  --primary-font-family: Roboto;
  font-family: var(--primary-font-family);
  font-size: 16px;
}

.my-border {
  border: 5px solid red;
}

.page-header {
  min-height: 700px;
  background-color: var(--primary-back-color);
}

.nav-bar {
  padding-top: 40px;
}

.logo-wrapper {
  max-width: 25%;
}

.logo-img {
  max-width: 96px;
}

.h-image {
  display: block;
  max-width: 357px;
  margin: 0 auto;
}

.h-nav {
  min-height: 60px;
}

.header-content {
  flex-grow: 1;
  align-items: center;
}

.header-text {
  max-width: 80%;
}

.skills-section {
  min-height: 700px;
}

.skills {
  min-width: 80%;
}

.skill-bar,
.skill-progress {
  height: 0.5em;
}

.skill-bar {
  background-color: rgb(194, 192, 192);
  max-width: 80%;
  width: 100%;
}

.skill-progress {
  background-color: var(--primary-color);
  max-width: 100%;
  width: 80%;
}

.photo {
  width: 100%;
  max-width: 555px;
}

@media screen and (max-width: 768px) {
  .photo {
    max-width: 400px;
  }
}

@media screen and (max-width: 567px) {
  .photo {
    max-width: 320px;
  }
}
