@import url(./reset.css);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #34547a;
  --primary-back-color: #eeeff1;
  --secondary-back-color: #ffffff;

  --primary-font-family: Roboto;
  font-family: var(--primary-font-family);
  font-size: 16px;
}

.my-border {
  border: 5px solid red;
}

.page-header {
  min-height: 700px;
  background-color: var(--primary-back-color);
}

.nav-bar {
  padding-top: 40px;
}

.logo-wrapper {
  max-width: 25%;
}

.logo-img {
  max-width: 96px;
}

.h-image {
  display: block;
  max-width: 357px;
  margin: 0 auto;
}

.h-nav {
  min-height: 60px;
}

.header-content {
  flex-grow: 1;
  align-items: center;
}

.header-text {
  max-width: 80%;
}

.skills-section {
  min-height: 700px;
}

.skills {
  min-width: 80%;
}

.skill-bar,
.skill-progress {
  height: 0.5em;
}

.skill-bar {
  background-color: rgb(194, 192, 192);
  max-width: 80%;
  width: 100%;
}

.skill-progress {
  background-color: var(--primary-color);
  max-width: 100%;
  width: 80%;
}

.photo {
  width: 100%;
  max-width: 555px;
}

@media screen and (max-width: 768px) {
  .photo {
    max-width: 400px;
  }
}

@media screen and (max-width: 567px) {
  .photo {
    max-width: 320px;
  }
}

.video-section {
  background-color: var(--primary-back-color);
  min-height: 100vh;
  text-align: center;
}

.video-description {
  max-width: 60%;
  margin: 0 auto;
}

.video {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 16/9;
}

.plates-section {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}

.plate-row {
  display: flex;
  flex-flow: row nowrap;
}

.plate {
  flex: 0 0 25%;
 /*  max-width: 25vw;
  width: 100%; */
  min-height: 25vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.plate-row:nth-child(2n) .plate:nth-child(even),
.plate-row:nth-child(2n+1) .plate:nth-child(odd) {
  background-image: url(../img/plate1.png);
}

.plate-row:nth-child(2n+1) .plate:nth-child(even),
.plate-row:nth-child(2n) .plate:nth-child(odd) {
  background-image: url(../img/plate2.png);
}

@media screen and (min-width: 0px) {
  .plate {
    flex: 0 0 100%;
    min-height: 50vw;
  }

  .plate-row {
    flex-wrap: wrap;
  }
}

.burger-menu {
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#burger-input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#burger-input:checked + .burger-menu {
  display: flex;
}
